.content {
	padding-left: 20px;
}
table td {
	padding: 2px 7px;
}
.converter {
	border: 3px solid rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	padding: 10px;
}
#toolbar {
	text-align: center;
	display: block;
}
.converter a {
	color: black;
	text-decoration: none;
	margin: 10px;
}
.converter p {
	font-size: 25px;
	padding: 0 10px;
}
.form p {
	text-align: right;
	font-size: 20px;
}
.form {
	display: inline-block;
}
#output {
	font-size: 20px;
}
.tip {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	background-color: rgba(0,0,0,0.8);
	color: white;
	border-radius: 6px;
	padding: 4px;
	position: absolute;
	margin-left: -60px;
	bottom: 98%;
}
.icon:hover .tip {
	visibility: visible;
	opacity: 1;
} 
#collapse-timer {
	text-align: center;
}
#collapse-timer input[type=text] {
	padding: 2px;
	width: 50px;
	text-align:center;
}
#collapse-timer input[type=button] {
	margin: 5px;
}
img {
	height: 300px;
	float: right;
}