/*filter function for recipe list*/
			.filter a {
				padding-right: 20px;
				color: black;
			}
			.filter {
				display: inline;
				text-align: center;
				padding: 10px;
			}
			.filter a:hover {
				font-weight: bold;
				color: black;
				text-decoration: none;
			}
			.filter.active {
				font-weight: bold;
			 }
/*styling of subpage link divs*/
			.recipes div {
				border: 2px solid rgba(255, 255, 255, 0.6);
				padding: 10px 20px 10px 20px;
				margin-bottom: 20px;
				margin-top: 20px;
			}
			.recipes div:hover {
				background: rgba(255, 255, 255, 0.8);
				-webkit-transition: 0.3s ease-in-out;
				-moz-transition: 0.3s ease-in-out;
			}
			.recipes a {
				text-decoration: none;
				color: black;
			}
			.heading {
				font-size: 36px;
			}
